* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Nunito Sans', 'Open Sans', 'Helvetica Neue', sans-serif;;
}
html {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
	background: rgb(254, 254, 254);
	background-size: cover;
}
body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

.display-none {
  display: none;
}

input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  resize: none;
}

:root {
  --page-horizontal-padding: 90px;
  --page-vertical-padding: 90px;

  --content-margin: 35px;
  --footer-margin: 25px;

  --header-height: 90px;

  --header-font-size: 64px;
  --big-title-font-size: 40px;
  --subtitle-font-size: 30px;
  --title-font-size: 20px;
  --text-font-size: 16px;
  --small-text-font-size: 14px;

  --header-line-height: 88px;
  --big-title-line-height: 55px;
  --title-line-height: 29px;
  --text-line-height: 22px;

  --color-one: rgba(62, 206, 150, 1);
  --color-two: rgba(153, 133, 235, 1);
  --color-three: rgba(142, 243, 249, 1);
  --color-four: rgba(67, 75, 216, 1);

  --text-color: rgba(254, 254, 254, 1);
  --text-color-two: rgba(241, 241, 241, 0.8);
  --border-color: rgba(254, 254, 254, 1);
  --background-color: rgb(21, 21, 21);
  --footer-color: rgb(18, 18, 18);

  --border-width: 2px;
  --border-radius: 18px;
}

.bold {
  font-weight: 800 !important;
}
.color-one {
  color: var(--color-one) !important;
}
.color-two {
  color: var(--color-two) !important;
}
.color-three {
  color: var(--color-three) !important;
}


@media only screen and (min-width: 1500px) {
  :root {
    --page-horizontal-padding: calc((100vw - 1500px) / 2 + 90px);
  }
}
@media only screen and (max-width: 1000px) {
  :root {
    --header-font-size: 50px;
    --big-title-font-size: 35px;
    --subtitle-font-size: 25px;
    --title-font-size: 18px;
    --text-font-size: 15px;
    --small-text-font-size: 14px;
    --footer-margin: 15px;
  }
}
@media only screen and (max-width: 850px) {
  :root {
    --header-font-size: 45px;
    --subtitle-font-size: 20px;
    --title-font-size: 17px;

    --page-horizontal-padding: 40px;
    --page-vertical-padding: 40px;
    --content-margin: 20px;
  }
}
@media only screen and (max-width: 600px) {
  :root {
    --header-font-size: 35px;
    --big-title-font-size: 30px;
    --subtitle-font-size: 16px;
    --title-font-size: 15px;
    --text-font-size: 14px;
    --small-text-font-size: 13px;

    --header-line-height: 60px;
    --big-title-line-height: 50px;
    --title-line-height: 25px;
    --text-line-height: 20px;
  }
}
@media only screen and (max-width: 460px) {
  :root {
    --page-horizontal-padding: 20px;
    --page-vertical-padding: 20px;

    --header-font-size: 27px;
    --big-title-font-size: 22px;
    --subtitle-font-size: 15px;
    --title-font-size: 15px;
    --text-font-size: 14px;
    --small-text-font-size: 13px;

    --header-line-height: 50px;
    --big-title-line-height: 50px;
    --title-line-height: 25px;
    --text-line-height: 20px;
  }
}
@media only screen and (max-width: 400px) {
  :root {
    --content-margin: 15px;

    --header-font-size: 27px;
    --big-title-font-size: 22px;
    --subtitle-font-size: 15px;
    --title-font-size: 15px;
    --text-font-size: 14px;
    --small-text-font-size: 13px;

    --header-line-height: 50px;
    --big-title-line-height: 50px;
    --title-line-height: 25px;
    --text-line-height: 20px;
  }
}
